* {
  margin: 0;
  box-sizing: border-box;
  outline: none;

}


.row {
  width: 93%;
  --bs-gutter-x: 0px;
}

.banner {
  height: 90vh;
  display: flex;
}

.banner-top {
  margin: auto;
  min-height: 50vh;

  .text_box {
    display: flex;

    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.2rem;
      text-align: left;
    }

    &--content {
      text-align: left;
      margin: auto;
      

      button{
        padding-left:2rem;
        padding-right: 2rem;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: rgb(144, 21, 231);
        border-radius: 24px;
        color: white;
        letter-spacing: 0.4rem;
        outline: none;
        font-size: 1.5rem;
        width: 90%;
        font-weight: bolder;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .slider {
    .item {
      margin: 1rem;
      height: 50vh;
      min-width: 1vw;
      transition: 0.9s ease-in-out all;
      transform: scale(0.68);
      position: relative;

      &--image {
        height: 100%;
        width: 100%;
        // border-radius: 12px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        position: relative;
      cursor: pointer;

        // -webkit-box-reflect: below 12px linear-gradient(to bottom,rgba(255, 254, 254, 0.622), rgba(0, 0, 0,0.05));
        // box-shadow: 0 14px 2px -2px rgba(0, 0, 0, 0.199);
        // box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.199);
        &::after {
          content: "";
          position: absolute;
          width: inherit;
          height: 100%;
          top: 1%;
          background-size: cover;
          background: inherit;
          transform: scaleY(1.1);
          opacity: 0.5;
          z-index: -1;
          filter: blur(20px);
        }



      }

      &--header {
        padding: 0 0 1rem 0;
      }

    }

  }
}




// Less than 800

@media only screen and (max-width: 800px) {
  header {
    max-height: 20vh;
  }

  .text_box {
    height: 80vh;
  }
}
