
  <div class="banner">
    <div class="banner-top row ">
      <div class="text_box col-sm-4">
        <div class="text_box--content">
          <h1>Navigate <br> the world</h1>
          <p>&nbsp;All the information in one place</p>
          <p style="margin-top:3rem;">
            <button mat-button>
              EXPLORE
            </button>
          </p>

        </div>

      </div>
      <div class="slider col-sm-8">
        <div class="slider-inner">
          <div class="item" *ngFor="let img of images">
            <section class="item--header">{{img.name}}</section>
            <div class="item--image" [ngStyle]="{'background-image': 'url('+img.url +')'}"> </div>
            <!-- <img  class="item--image" [src]="img.url"> -->
          </div>
        </div>

      </div>


    </div>

  </div>

