* {
  margin: 0;
  box-sizing: border-box;
  outline: none;

}

.wrapper {
  height: 100%;
}

header {
  padding: 8px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  z-index: 99;
  max-height: 10vh;
  position: relative;

  .searchbar {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 2.5rem;

    .input-group {
      display: flex;
      border: 1px solid black;
      padding: 2px;
      border-radius: 24px;

      &--box {
          width: 85%;
        input {
          margin-left: 4px;
        }

        padding: 4px;
      }

      &--icon {
          width: 15%;
        display: flex;

        span {
          margin: auto;
        }
      }

      &:hover {
        border: 2px solid green;

      }
    }

  }

}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 2rem;


  a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;

    &::before {
      position: absolute;
      font-family: "Material Icons";
      background-color: white;
      text-shadow: 3px 3px 5px rgba(110, 108, 108, 0.281);
      content: "\e0c8";
      font-size: 1.5rem;
      top: 1.6rem;
      bottom: 0.5rem;
      // width: inherit;
      // text-align: center;
      left: 30%;
      // transform: translateX(70%);
      transition: all ease 0.3s;


    }

    &:hover {
      &::before {
        text-shadow: 3px 3px 5px rgba(128, 226, 90, 0.281);
        color: green;
      }

    }
  }
}

.menu ul {

  padding-left: 0px !important;
  text-align: center;

  // border-bottom: 2px dotted red ;
  // border-bottom: 1px solid black;

}
.logo{
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    font-weight: bolder;
}

