<div class="wrapper">
  <header class="row">
    <div class="col-sm-3 logo" style="display: flex;">
      <span style="margin-top:auto ;margin-bottom: auto;">COMPANY</span>
    </div>
    <div class="menu col-sm-6 row">
      <!-- <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="#">Destinations</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul> -->
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Home</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Destinations</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Terms</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Contact Us</a> </div>
    </div>
    <div class="searchbar col-sm-3 ">
      <div class="input-group">
        <div class="input-group--box">
          <input style="outline: none;border: none;" id="search_ip" placeholder="Search Locations"  (input)="onSearch($event.target.value)">
        </div>
        <div class="input-group--icon">
          <span class="material-icons">
            search
          </span>
        </div>
      </div>
    </div>
  </header>
  <div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<!-- ///////////////Search Results  -->
<div class="searchResults--closed" id="searchBar">
  <div class="searchContent">
    <div class="close_btn">
      <mat-icon  (click)="closeSearch()">clear</mat-icon>
    </div>
    <div class="result">
{{searchMessage}}
    </div>
  </div>

</div>
