<div class="wrapper">
  <header class="row" style="padding-top: 1%;">
    <div class="col-sm-2 logo" style="display: flex;">
      <span style="margin-top:auto ;margin-bottom: auto;margin-left: 1rem;">COMPANY</span>
    </div>
    <div class="menu col-sm-5 row">
      <!-- <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="#">Destinations</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul> -->
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Home</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Destinations</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Terms</a> </div>
      <div class="col-sm-3" style="padding-bottom: 1.6rem;"> <a href="/home">Contact Us</a> </div>
    </div>
    <div class="searchbar col-sm-3 ">
      <div class="input-group">
        <div class="input-group--box">
          <input style="outline: none;border: none;" id="search_ip" placeholder="Search Locations"
            (input)="onSearch($event.target.value)">
        </div>
        <div class="input-group--icon">
          <span class="material-icons">
            search
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-1"style="display: flex;">
      <!-- <span style="margin-top:auto ;margin-bottom: auto;margin-left: 1rem;">COMPANY</span> -->
    <button mat-button class="login_btn">Login</button>
    </div>
  </header>
  <div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<!-- ///////////////Search Results  -->
<div class="searchResults--closed" id="searchBar">
  <div class="searchContent">
    <div class="close_btn">
      <mat-icon (click)="closeSearch()">clear</mat-icon>
    </div>
    <header class="result_header">Search Results</header>
    <div class="result">
      <!-- {{searchMessage}} -->

      <section class="result_content row" *ngFor="let result of results">
        <section class="col-sm-10">
          <header class="result_content--header ">
            <div style="text-transform: uppercase;">{{result?.name}}</div>
          </header>
          <section class="result_content--menu ">
            <div class="row">
              <section class="col-sm-4 result_content--menu_item " *ngFor="let item of menu">
                <span>{{item?.name}}</span>
              </section>
            </div>
          </section>
        </section>
        <section class="col-sm-2 result_img">
          <div [ngStyle]="{'background-image': 'url(' + result.img_url + ')'}">
            <!-- <img [src]="result?.img_url" height="100%" width="100%"> -->

          </div>
        </section>
      </section>


    </div>
  </div>

</div>
