* {
  margin: 0;
  box-sizing: border-box;
  outline: none;

}

.row {
  // height: 86vh;
  width: 100%;
  --bs-gutter-x: 0px;
}

.wrapper {
  height: 100%;
}

header {
  padding: 8px;
  z-index: 99;
  position: relative;

  .searchbar {
    display: flex;
    background-color: white;

    .input-group {
      display: flex;
      margin: auto;
      border: 1px solid black;
      padding: 2px;
      border-radius: 24px;
      max-width: 75%;

      &--box {
        width: 85%;

        input {
          margin-left: 4px;
        }

        padding: 4px;
      }

      &--icon {
        width: 15%;
        display: flex;

        span {
          margin: auto;
        }
      }

      &:hover {
        border: 2px solid green;

      }
    }

  }

}



.menu {
  text-align: center;

  a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;

    &::before {
      position: absolute;
      font-family: "Material Icons";
      background-color: white;
      text-shadow: 3px 3px 5px rgba(110, 108, 108, 0.281);
      content: "\e0c8";
      font-size: 1.5rem;
      top: 1.6rem;
      left: 27%;
      transition: all ease 0.3s;
    }

    &:hover::before {
      text-shadow: 3px 3px 5px rgba(128, 226, 90, 0.281);
      color: green;
    }


  }

}



.logo {
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: bolder;
}


//////////////Search Results

.searchResults {
  &--expanded {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 12px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.97);
    border: 1px solid gray;
    height: 84vh;
    transition: height 0.6s;

    .searchContent {
      width: 100%;
      position: relative;

      .close_btn {
        text-align: right;
        cursor: pointer;
      }
    }

  }

  &--closed {
    height: 0vh;
    z-index: 99;
    transition: height 0.6s;

    .searchContent {
      display: none;
    }

    //  display: none;
  }
}

.result {
  // height:100px;
  height: 75vh;
  overflow: scroll !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  &_header {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.3rem;
  }

  // &__container{
  //   height:100px;
  //   overflow: scroll!important;
  // }
  &_img {
    padding: 1rem 1rem 0rem 1rem;

    div {
      border: 8px solid #343434;
      border-radius: 24px;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &_content {
    overflow-y: auto;
    margin-top: 1rem;

    &--header {
      padding-top: 1rem;
      display: inline-block;

      div {
        padding: 1rem;
        background-color: #343434;
        color: white;
        font-weight: bolder;
        letter-spacing: 0.3rem;
        font-size: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 4rem;
      }
    }

    &--menu {
      padding: 8px;

      div {
        padding: 1rem;
        background-color: #343434;
        border-radius: 18px;
      }

      &_item {
        color: white;
        padding: 0.45rem;
        text-transform: uppercase;

        // &:not(:last-child){
        //   border-right: 1px solid white;
        // }
        span {
          cursor: pointer;
          transition: 1s color;

          &:hover {
            color: rgba(255, 255, 255, 0.466);
            font-weight: bolder;
          }
        }

      }
    }
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .menu {
    text-align: center;

    a {

      &::before {
        content: '';

      }
    }

  }

  .logo {
    padding-bottom: 1.5rem;
  }
}
