<div class="wrapper">
    <header class="row">
      <div class="menu col-sm-12">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Destinations</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
  
      </div>
      <div class="searchbar ">
        <div class="input-group">
          <div class="input-group--box">
            <input style="outline: none;border: none;" placeholder="Search Locations">
          </div>
          <div class="input-group--icon">
            <span class="material-icons">
              search
            </span>
          </div>
        </div>
      </div>
    </header>
<router-outlet></router-outlet>
</div>
