
<div class="content">
  <div class="row" style="height: 84vh;">
    <div class="col-sm-3" style="height: 100%;">
      <div class="menu">
        <p class="heading" (click)="toLandingPage()">
          {{data?.name}}
        </p>
        <section class="menu--content">
          <p *ngFor="let each of menu" class="menu--item" (click)="onNavigate(each?.url,each?.id)" id="{{'menu_item'+each.id}}">
            {{each?.name}}
          </p>
          <p>
            <button mat-button class="btn">Submit Content</button>
          </p>
        </section>
      </div>

    </div>
    <div class="col-sm-9" style="height: 100%;padding-top: 1.5rem;"  >
      <router-outlet >
      </router-outlet>
    </div>
  </div>
</div>
