<section class="main">
  <div class="login-form">
    <div class="login-form--box">
      <section>
          <header>LOGIN</header>
          <section>
            <mat-form-field appearance="outline" style="min-width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" style="min-width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password">
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
              <footer>
                  <button mat-button>Check In</button>
              </footer>
          </section>
          <footer>Don't have an account? <span><a href="#">sign up</a></span></footer>
      </section>
    </div>
  </div>
  <div class="login-img">
    
    <section >
        <img src="./assets/images/login.png" height="100%" width="95%">
    </section>
  </div>
</section>
