/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.lightBox {

  max-width: 60%;
  // max-height: 70vh;

  // background-color: #343434;
  &--backdrop {
    background-color: rgba(255, 255, 255, 0.9);
    filter: blur(24px);
  }

  .mat-dialog-container {
    border-radius: 32px !important;
    padding: 0px !important;
    border-radius: 24px;
  }
}
